<h2>Editing user</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :real_name %><br />
    <%= f.text_field :real_name %>
  </p>
  <p>
    <%= f.label :student_number %><br />
    <%= f.text_field :student_number %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :plain_password %>
  </p>
	<p>
		<%= f.label 'Confirm password' %><br />
		<%= f.password_field :plain_password_confirmation %>
  </p>
	<p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>