<h2>News</h2>

<% @newsfeed.each do |item| %>
	<%= item.message %><br/>
	<%= time_ago_in_words item.created_at %> ago
	<hr/>
<% end %>

<h2>Courses</h2>
<div>
	 Hello, <%= @user.real_name%>!
	 <%= link_to 'Logout', :controller => 'session',  :action => 'logout' %>
</div>
<%= link_to 'New course', new_course_path %>
<ul>
<% @courses.each do |course| %>
    <li><%= link_to h(course.name), course %></li>
<% end %>
</ul>

<br />